# NOTE: update this with your service name
service: notes-api

# Create an optimized package for our functions 
package:
  individually: true

plugins:
  - serverless-bundle # Package our functions with Webpack
  - serverless-offline
  - serverless-dotenv-plugin # Load .env as environment variables

provider:
  name: aws
  runtime: nodejs12.x
  stage: prod
  region: us-east-2

  # These environment variable are made available to our functions
  # under process.env
  environment:
    tableName: notes

  # 'iamRoleStatements' define the permission policy for the Lambda function.
  # In this case Lambda functions are granted permissions to access DynamoDB.
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Scan
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:DescribeTable
      Resource: "arn:aws:dynamodb:us-east-1:*:*"

functions:
  create:
  # Defines an HTTP API endpoint that calls the main function in create.js
  # - path: url path is /notes
  # - method: POST request
  # - authorizer: authenticates using the AWS IAM role
  # That is, the create.js Lambda handles post requests at the /notes endoint
    handler: create.main
    events:
      - http:
          path: notes
          method: post
          authorizer: aws_iam
  get:
    # defines an HTTP API endpoint that calls the main function in get.js
    # - path: url path is /notes/{id}
    # - method: GET request
    # - authorizer: authenticates using the AWS IAM role
    handler: get.main
    events:
      - http:
          path: notes/{id}
          method: get
          authorizer: aws_iam
  list:
    # defines an HTTP API endpoint that calls the main function in list.js
    # - path: url path is /notes
    # - method: GET request
    # - authorizer: authenticates using the AWS IAM role
    handler: list.main
    events:
      - http:
          path: notes
          method: get
          authorizer: aws_iam
  update: 
    # defines an HTTP API endpoint that calls the main function in update.js
    # - path: url path is notes/{id}
    # - method: PUT request
    # - authorizer: authenticates using the AWS IAM role
    handler: update.main
    events:
      - http:
          path: notes/{id}
          method: put
          authorizer: aws_iam
  delete: 
    # defines an HTTP endpoint that calls the main function in delete.js
    # - path: url path is /notes/{id}
    # - method: DELETE request
    # - authorizer: authenticates using the AWS IAM role
    # this adds a DELETE request handler to the /notes/{id} endpoint
    handler: delete.main
    events:
      - http:
          path: notes/{id}
          method: delete
          authorizer: aws_iam
  billing:
    # define an HTTP API endpoint that calls the main function in billing.js
    # - path: url path is /billing
    # - method: POST request
    handler: billing.main
    events:
      - http:
          path: billing
          method: post
          authorizer: aws_iam